@charset "utf-8";
@import "_reset";
.index_web {
    width: 100%;
    background: #555;
    color: #fff;
    header{
        width: 100%;
        height: 50px;
        overflow: hidden;
        line-height: 50px;
        nav:nth-child(1){
            float: left;
            background: #555;
            ul{
                li{
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
        nav:nth-child(2){
            float: right;
            background: #555;
            ul{
                li{
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
    }
}