.chat {
    width: 260px;
    background: #222;
    position: fixed;
    bottom:0 ;
    right: 0;
    z-index: 9;
    margin: auto;
    border: 1px solid #333;
    border-top: 0;
    overflow: hidden;
}
.chat div{
    box-sizing: border-box;
}
.chat .header {
    width: 100%;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    /*cursor: -webkit-grab;*/
}
.chat .main_body{
    height: 0;
}

.chat .main_body {
    /*display: none;*/
}

.chat .header nav:first-child {
    float: left;
}

.chat .header nav:first-child h3 {
    padding-left: 6px;
}

.chat .header nav:last-child {
    float: right;
}

.chat .header nav:last-child i {
    cursor: pointer;
    font-size: 14px;
}

.chat .header nav:last-child i:hover {
    color: #ececec;
}

.chat .header nav:last-child i:last-child {
    padding-right: 6px;
    font-size: 12px;
}

.chat .header nav:last-child i:first-child {
    padding-right: 10px;
}

.chat .nav {
    width: 100%;
    font-size: 12px;
    font-size: 0;
    position: relative;
    border-top: 1px solid #333;
}

.chat .nav ul {
    width: 100%;
    white-space: nowrap;
}

.chat .nav ul li {
    display: inline-block;
    height: 23px;
    cursor: pointer;
    font-size: 12px;
    line-height: 23px;
    vertical-align: top;
    text-align: center;
    width: 25%;
    overflow: hidden;
    /*padding: 0 6px;*/
}

.chat .nav ul li:hover {
    background: #444;
    color: #ececec;
}

.chat .nav .triangle {
    width: 20px;
    text-align: center;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}

.chat .forget {
    background: #444;
    position: absolute;
    top: 25px;
    right: 0;
    color: #d4d4d4;
    display: none;
    z-index: 1;
}

.chat .forget p {
    font-size: 12px;
    padding: 4px 20px;
    cursor: pointer;
}

.chat .forget p:hover {
    background: #555;
}

.chat .nav .triangle .iconfont {
    font-size: 12px;
    cursor: pointer;
    /*display: none;*/
}

.chat .nav .triangle .iconfont:hover {
    color: #ececec;
}

.chat .nav ul .active {
    background: #eee;
    color: #333;
}

.chat .nav ul .active:hover {
    background: #eee;
    color: #999;
}

.chat .users {
    width: 100%;
    background: #eee;
    color: #333;
}

.chat .users h6 {
    text-align: right;
    padding: 1px 0;
    padding-right: 6px;
}

.chat .message {
    width: 100%;
    height: 450px;
    background: #FFF;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    border-bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
}

.chat .show {
    display: block;
}
/*
.chat .message::-webkit-scrollbar {
    width: 6px;
    height: 1px;
}

.chat .message::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #575757;
}

.chat .message::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #EDEDED;
}*/


.chat .message ul {
    width: 100%;
    margin: auto;
}

.chat .message ul li {
    width: 100%;
    position: relative;
}
.chat .message ul li:nth-child(2n-1){
    background: #f5f5f5;
}
.chat .message ul li:nth-child(3n-1){
    background: powderblue;
    background:snow;
}
.chat .message ul li:last-child {
    margin-bottom: 10px;
}

.chat .message ul li .show_time {
    color: #ff9000;
    color: slateblue;
}

.chat .message ul li p {
    font-size: 12px;
    padding: 3px 5px;
    word-wrap: break-word;
    word-break: normal;
    word-break: break-all;
    color: #111;
    line-height: 1.6;
}

.chat .message ul li p .name {
    color: green;
}

.chat .input {
    width: 100%;
    height: 26px;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    background: white;
    position: relative;
}

.chat .input .frequent {
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    margin: auto;
    width: 170px;
    height: 28px;
    line-height: 28px;
    color: red;
    background: #eee;
    text-align: center;
    border-radius: 10em;
    font-size: 12px;
    display: none;
}

.chat .input input {
    width:92%;
    border: 0;
    /*overflow: hidden;*/
    position: absolute;
    line-height: 26px;
    top: 0;
    left: 0px;
    outline: none;
    color: #555;
    /*background: skyblue;*/
    padding: 0 5px;
}

/*.chat .input i {
    position: absolute;
    top: 0;
    cursor: pointer;
}*/

.chat .input .emojy {
    position: absolute;
    top: 2px;
    right: 2px;
    /*width: 26px;
    height: 26px;*/
    /*overflow: hidden;*/
    /*line-height: 25px;*/
    display: inline-block;
    cursor: pointer;
    /*background: red;*/
    /*text-align: center;*/
    font-size: 15px;
}

/*.chat .input .icon {
    right: 2px;
    font-size: 20px;
    line-height: 22px;
    background: red;
}*/

/*.chat .input .icon:hover {
    color: #444;
}*/

.chat .expression {
    width: 100%;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    background: #fff;
    border-top: 0;
    display: none;
}

.chat .expression ul {
    width: 100%;
    position: relative;
}

.chat .expression ul li {
    display: inline-block;
    vertical-align: top;
    height: 28px;
    width: 30px;
    text-align: center;
    line-height: 28px;
    overflow: hidden;
    cursor: pointer;
}

.chat .expression ul li:hover {
    background: #EDEDED;
    border-bottom: 2px solid skyblue;
}

.chat .expression ul .close {
    position: absolute;
    right: 0px;
    top: 1px;
    padding: 5px;
    cursor: pointer;
}

.chat .expression ul .close:hover {
    color: #555;
}

.chat .expression ul .active {
    background: #EDEDED;
    border-bottom: 2px solid skyblue;
}

.chat .expression .emjoy {
    width: 100%;
    height: 110px;
    /*padding: 8px 2px;*/
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 0;
    text-align: start;
}
/*.chat .expression .emjoy::-webkit-scrollbar {
    width: 6px;
    height: 1px;
}

.chat .expression .emjoy::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #575757;
}

.chat .expression .emjoy::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #EDEDED;
}*/

.chat .expression .show {
    display: block;
}

.chat .expression .emjoy span {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.chat .expression .emjoy span:hover {
    font-size: 22px;
}